./boookmarks/bin
./bookmarks/include
./bookmarks/lib
./bookmarks/lib64
.idea/
bookmarks/__pycache__
account/__pycache__
account/migrations/__pycache__/
account/migrations/0001_initial.py
.gitignore
db.sqlite3